.main {
    min-height: 100%;
    width: 100%;
    background: #EEF5FF;
    position: relative;
}

.infos {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    border-radius: 5px;

    &__para {
        color: #A3A3AB;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__suptitle {
        margin: 10px 0 2px;

    }

    &--text-color {
        color: #04295D;
        font-weight: bold;
    }
}