<div class="main">
    <div class="infos">
        <h1 class="infos__title infos--text-color">{{ title_1 }}</h1>
        <p class="infos__para">{{ para_1 }}</p>
        <form class="infos__form" action="">
            <label class="infos__suptitle infos--text-color" for="name">Name</label>
            <input type="text">
            <label class="infos__suptitle infos--text-color" for="email">Email Address</label>
            <input type="email" name="" id="">
            <label class="infos__suptitle infos--text-color" for="number">Phone Number</label>
            <input (change)="isValid" type="number" name="" id="">
        </form>
    </div>
</div>