<div class="main">
    <div class="infos">
        <h1 class="infos__title infos--text-color">{{ title }}</h1>
        <p class="infos__para">{{ para }}</p>
        <div class="infos__plan">
            <div class="infos__btn">
                <span class="infos__desc">
                    <span class="infos__btn-title">Online service</span><br>
                    <span class="infos__subtitle">Access to multiplayer games</span>
                    <span class="infos__btn-price">+$1/mo</span>
                </span>
            </div>
            <div class="infos__btn">
                <span class="infos__desc">
                    <span class="infos__btn-title">Larger storage</span><br>
                    <span class="infos__subtitle">Extra 1TB of cloud save</span>
                    <span class="infos__btn-price">+$2/mo</span>
                </span>
            </div>
            <div class="infos__btn">
                <span class="infos__desc">
                    <span class="infos__btn-title">Customizable profile</span><br>
                    <span class="infos__subtitle">Custum theme on your profile</span>
                    <span class="infos__btn-price">+$2/mo</span>
                </span>
            </div>
        </div>
    </div>
</div>