<div class="main">
    <div class="infos">
        <h1 class="infos__title infos--text-color">{{ title }}</h1>
        <p class="infos__para">{{ para }}</p>
        <div class="infos__plan">
            <div class="infos__btn">
                <img class="infos__logo" src="../../assets/images/icon-arcade.svg" alt="Arcade">
                <span class="infos__desc">
                    <span class="infos__btn-title">Arcade</span><br>
                    <span class="infos__btn-subtitle">${{ priceArcade }}/mo</span>
                </span>
            </div>
            <div class="infos__btn">
                <img class="infos__logo" src="../../assets/images/icon-advanced.svg" alt="Advanced">
                <span class="infos__desc">
                    <span class="infos__btn-title">Advanced</span><br>
                    <span class="infos__btn-subtitle">${{ priceAdvanced }}/mo</span>
                </span>
            </div>
            <div class="infos__btn">
                <img class="infos__logo" src="../../assets/images/icon-pro.svg" alt="Pro">
                <span class="infos__desc">
                    <span class="infos__btn-title">Pro</span><br>
                    <span class="infos__btn-subtitle">${{ pricePro }}/mo</span>
                </span>
            </div>
        </div>
        <div class="infos__toggle">
            <span>Monthly</span>
            <input class="infos__check" type="checkbox" name="" id="">
            <span>Yearly</span>
        </div>
    </div>
</div>